body {
	font-family: "Microsoft Yahei", "微软雅黑", "黑体", "Hiragino Sans GB",
	"WenQuanYi Micro Hei", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	background-color: #fff;
}

.nospace{
  margin: 0;
  padding: 0;
}

.norspace{
   margin-left:15px;
}

.midcenter{
  text-align: center;
  margin: 1px auto;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

.midcenter-top-btn {
  margin-top: 8px;
}

.wbgdiv {
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}

.b-container{
  width: 100%;
  margin: 12px;
}

.mini-img-circle{
  width:42px;
  border-radius: 50%;
}

.b-container-bp{
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.b-container-cp{
  margin: 0px;
  padding: 0px;
  color: #ccc;
}

.b-container-right{
  width: 96%;
  height: 40px;
  /* border: 1px solid #ccc;
  background-color: #fff;
  overflow:auto;
  overflow-x:hidden; */
  margin: 0px;
  text-align: center;
}

.t-b-container th{
  margin: 0px;
  padding: 0px;
}

.sbtn{
  height: 18px;
  padding: 0px;
  font-size: 8px;
}

.sbtnb{
  margin-top: -6px;
}

.myli {
  list-style-type:none;
}

.s-container {
  width: 100%;
	background-color: #fff;
}

.s-container h4 {
	color: #0F628C;
  font-weight:900;
	text-align: center;
} 

.blackcolor{
  color: #000;
}

.hiddenlist{
  width:660px;
}

/*两端对齐，汉字后需配合<span>使用，但目前因受响应布局影响尚存bug
div.justify {
  text-align: justify;
  padding-top: 6px;
  }

div.justify > span {
  display: inline-block;
  padding-left: 100%;
}
*/

.mycol-1{
  height: 36px;
	color: #000;
	border: 1px solid #ccc;  
	text-align:center;
	margin: 1px auto;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

.mycol-2{
  height: 94px;
  padding: 2px;
  border: 1px solid #ccc;
  background:#fff;
  color:#000;
  margin: 1px auto;


  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

.mycol-3{
   height: 108px;
  padding: 2px;
  border: 1px solid #ccc;
  background:#fff;
  color:#000;
  margin: 1px auto;


  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

.mycol-4 {
  border: 1px solid #ccc;
  background:#fff;
  color:#000;
  margin: 1px auto;
}

.pull-right-s{
  float: right;
  margin-right: 12px;
}

.pull-right-re{
  float:right;
  padding-right:420px;
  margin-top: 6px;
}

.pull-right-s button{
  margin: 12px;
}